.longitudinal-container {
    max-width: 800px;
    font-family: sans-serif;
    font-size: 16px;
}


.longitudinal-title {
    position: absolute;
    color: #00f5bc;
    top: 5%;
    font-size: 2em;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.select {
    position: relative;
    font-size: 1.2em;
    text-align: center;
    left: 50%;
    padding-top: 2em;
    transform: translateX(-50%);
}


.longitudinal-file-selector {
    position: absolute;
    top: 45%;
    font-size: 1.5em;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: all 0.2s;

}




.longitudinal-calculation-button {
  margin-top: 10em;
}

.calculate {

    font-size: 1.5em;
    text-align: center;
    display: inline-block;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: white 0.5px solid;
    font-weight: 300;
    transition: all 0.2s;
}

.reset {
    margin-top: 20px;
    text-align: center;
}

.reset-button {
    display: block;
    margin-top: 15px;
}

.longitudinal-calculation-result {
    margin-top: 20px;
    text-align: center;
}

.longitudinal-calculation-result h2 {
    margin-bottom: 20px;
}

.longitudinal-calculation-result p {
    margin-bottom: 10px;
}

.longitudinal-download-button {
    display: block;
    margin-top: 15px;
}
